

iframe{
display: none;
width: 375px;
height: 248px;
animation: colorChange 7s infinite;
}


@keyframes colorChange {
  0% {
    box-shadow: 
      0 0 10px green,
      0 0 20px green,
      0 0 30px green,
      0 0 40px green;
  }
  25% {
    box-shadow: 
      0 0 10px white,
      0 0 20px white,
      0 0 30px white,
      0 0 40px white;
  }
  50% {
    box-shadow: 
      0 0 10px yellow,
      0 0 20px yellow,
      0 0 30px yellow,
      0 0 40px yellow;
  }
  75% {
    box-shadow: 
      0 0 10px red,
      0 0 20px red,
      0 0 30px red,
      0 0 40px red;
  }
  100% {
    box-shadow: 
      0 0 10px blue,
      0 0 20px blue,
      0 0 30px blue,
      0 0 40px blue;
  }
}


section{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
 background-image: url("https://res.cloudinary.com/dnju3aw4b/image/upload/v1702760611/UCDM/602d06da-59a6-42ac-a73c-7d0bfaf2a337_fvdu5y.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

section div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 margin-top: 160px;
 width: 100%;

}

@media(max-width:459px){
  iframe{
    display: none;
    width: 245px;
    height: 165px;
    margin-top: -117px;
   
    }

}









