

iframe{
display: none;
width: 375px;
height: 248px;
 

}


section{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
 background-color:#9a98b5; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

section div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 320px;
  background-repeat: no-repeat;
  margin-top: 160px;

}

@media(max-width:459px){
  iframe{
    display: none;
    width: 245px;
    height: 165px;
    margin-top: -117px;
   
    }
 section div{
  margin-left: 0;
  width: 290px;
  height: 329px;
 }

}









