header{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: 5px solid purple;
  height: 30vh;
  background-image: url("https://res.cloudinary.com/dnju3aw4b/image/upload/v1702661552/UCDM/css-pattern-by-magicpattern_rd5g6n.png");
  background-size: cover;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
header>img{
  width: 120px;
  position: absolute;
  top: 40px;
  left: 50px;
  
}
header nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
header button{
  width: 80px;
  height: 40px;
  border-radius: 5px;
  background-color: #e40084;
  color:#ffff94;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.5s;
}
header button:hover{
  background-color: #ffff94;
  color:#e40084;
scale:1.1;
}

header div{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
}

header div img{
  cursor: pointer;
  width: 40px;
}

@media (max-width:938px){

  header>img{
    left: 0px; 
    width: 80px;
  }
  header button{
    width: 80px;
    height: 40px;
  
  }
  header{
    align-items: start;
  }

  header div{
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
    }
    
    header div img{
      cursor: pointer;
      width: 40px;
    }
 

}
@media (max-width:785px){

  header>img{
    left: 0px; 
    width: 80px;
  }
  header button{
    width: 80px;
    height: 40px;
  
  }
  header nav{
   width: 100%;
   gap: 0;
  }

  header div{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    }
    
    header div img{
      cursor: pointer;
      width: 40px;
    }
 

}
@media (max-width:628px){


  header nav{
   width: 100%;
   gap: 80px;
   justify-content: end;
  }

  header div{
    width: 90%;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 20px;
    }

}
@media (max-width:527px){


  header nav{
   width: 100%;
   gap: 40px;
   justify-content: end;
  }

  header div{
    width: 90%;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 5px;
    }

}

@media (max-width:428px){


  header nav{
   width: 100%;
   gap: 5px;
   justify-content: end;
  }

  header div{
    width: 90%;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 0px;
    }

}
@media (max-width:377px){


  header button{
    width: 60px;
    font-size: 11px;
  }

    header div img{
      width: 30px;
    }
    header>img{
      width: 50px;
      top: 0;
    }

}

